body {
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(img.jpg);
    background-size: cover;
    background-position: center;
}

.login-box {
    max-width: 700px;
    float: none;
    margin: 150px auto;
}

.login-left{
    background: rgba(211, 211, 211, 0.5);
    padding: 30px;
    border-radius: 2%;
}

.login-right{
    background: rgba(120,255,255,0.5);
    padding: 30px;
    border-radius: 2%;
}

.form-control {
    background: transparent !important;
}

a{
    color: #fff !important;
    margin-top: -200px;
}

h1{
    color: white !important;
    margin-top: 200px !important;
    text-align: center;
    text-transform: uppercase;
}